.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
}

body {
        background-image: url(fondo.jpg);
}
.navbar a:link, a:visited {
            
            text-align: center;
            text-decoration: none;
            color: #000;

        }


   .navbar   a:hover {
                color: #155eca;
                background-color: white;
            transition: .5s;
        }

.dropdown-menu a:hover {
    background-color: #155eca;
    color: white;
}
.slider {
    margin-top: 55px;

}
.buttonli {

    border: none;
    padding: 20px 70px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);

    }
        
    .buttonli::before {
        background-color: #155eca;
        padding: 20px 60px;
        border-radius: 30px;
        content: "Subscribe";
        position: absolute;
        color: white;
        top:  50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        transition: .2s ease;
        opacity: 1;
    }

    .buttonli::after {
        content: "Join us!";
        position: absolute;
        color: black;
        top:  50%;

        transform: translate(-50%, -50%);
        font-weight: bold;
        transition: .2s ease;
        text-transform: uppercase;
        opacity: 0;
    }

    .buttonli:hover::before {
        transition: .5s;

        opacity: 0;
        
    }

    .buttonli:hover::after {
        transition: .5s;
        
        opacity: 1;
    }

.itemsearch {
    list-style: none;
    padding-right: 10px;
}

.box1 {
    padding: 20px;;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox1 {
        overflow:hidden;
        }

    .imgbox1 img {
        transition: .3s;
    }

    .imgbox1:hover img {
        transform:scale(1.4);
        }

    .texbox1 {
        cursor: pointer;
        }
    
    .texbox1 {
        transition: .3s;
        }  

    .texbox1:hover {
        transform: scale(1.2);   
    }

.box2 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox2 {
        overflow:hidden;
        }

    .imgbox2 img {
        transition: .3s;
    }

    .imgbox2:hover img {
        transform:scale(1.4);
        }

    .texbox2 {
        cursor: pointer;
        }
    
    .texbox2 {
        transition: .3s;
        }  

    .texbox2:hover {
        transform: scale(1.2);
        }

.box3 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox3 {
        overflow:hidden;
        }

    .imgbox3 img {
        transition: .3s;
    }

    .imgbox3:hover img {
        transform:scale(1.4);
        }

    .texbox3 {
        cursor: pointer;
        }
    
    .texbox3 {
        transition: .3s;
        }  

    .texbox3:hover {
        transform: scale(1.2);
        }

.imgb{
    border-radius: 50%;
    overflow: hidden;
    max-height: 260px;
    max-width: 260px;
    padding: 0;
    margin-right: 0px;
    margin-top: 20px;
}
    
.lice {
    align-items: center;
    alignment-baseline: central;
    align-content: center;
    padding: 30px;
    background-color: black;
    box-sizing: auto;
}

.alice {
    background-color: black;
}

.gallery {
  width: 25em;
  margin: 2em auto;
    }

    .gallery-item {
  height: auto;
  width: 48.618784527%;
  float: left;
  margin-bottom: 2em;
  position: relative;
    }

    .gallery-item:first-child {
  margin-right: 2.762430939%;
    }

    .gallery-item:hover .img-title {}

.img-title {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 210%;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
    }

    .img-title h5 {
  font: sans-serif;
  font-size: xx-large;
  position: absolute;
  color: #fff;
  top: 33%;
  width: 100%;
  text-align: center;
    }
footer li {
    list-style: none;
}
footer .container {
    background-color: #155eca;
}

}

footer a:hover {
    background-color: transparent;
}

nav.navbar.navbar-expand-lg.container-fluid.fixed-top {
    padding: 0;
}


.altura 
{
    height: 80px;
    line-height: 60px;
}
.linha {
    background-color: rgba(0, 0, 0, 0.6);
}
/*nav .btn {
    align-items: center;
}*/

#containbtn
 {
    position: relative;

 }
 .form-contro{
    border-radius: 50%;
 }

 body {
    background-image: url(fondo.jpg);
}
.navbar a:link, a:visited {
        
        text-align: center;
        text-decoration: none;
        color: #000;

    }


    .navbar    a:hover, a:active {
        color: #155eca;
        background-color: white;
        transition: .5s;
    }

.slider {
margin-top: 55px;

}
.buttonli {

border: none;
padding: 20px 70px;
border-radius: 30px;
cursor: pointer;
position: relative;
overflow: hidden;
left: 50%;
transform: translateX(-50%);
}
    
.buttonli::before {
    background-color: #155eca;
    padding: 20px 60px;
    border-radius: 30px;
    content: "Subscribe";
    position: absolute;
    color: white;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    transition: .2s ease;
    opacity: 1;
}

.buttonli::after {
    content: "Join us!";
    position: absolute;
    color: black;
    top:  50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    transition: .2s ease;
    text-transform: uppercase;
    opacity: 0;
}

.buttonli:hover::before {
    transition: .5s;

    opacity: 0;
    
}

.buttonli:hover::after {
    transition: .5s;
    top:  -50xp;
    opacity: 1;
}

.itemsearch {
list-style: none;
padding-right: 10px;
}

.box1 {
padding: 5px;
align-items: center;
background: #fff;
border-style: none;
}

.imgbox1 {
    overflow:visible;
    }

.imgbox1 img {
    transition: .3s;
    cursor: pointer;
}

.imgbox1:hover img {
    transform:scale(1.4);
    }
cursor: pointer
.texbox1 {
    cursor: pointer;
    }

.texbox1 {
    transition: .3s;
    }  

.texbox1:hover {
    transform: scale(1.2);   
}

.box2 {
padding: 20px;
align-items: center;
background: #fff;
border-style: none;
}

.imgbox2 {
    overflow:hidden;
    }

.imgbox2 img {
    transition: .3s;
}

.imgbox2:hover img {
    transform:scale(1.4);
    }

.texbox2 {
    cursor: pointer;
    }

.texbox2 {
    transition: .3s;
    }  

.texbox2:hover {
    transform: scale(1.2);
    }

.box3 {
padding: 20px;
align-items: center;
background: #fff;
border-style: none;
}

.imgbox3 {
    overflow:hidden;
    }

.imgbox3 img {
    transition: .3s;
}

.imgbox3:hover img {
    transform:scale(1.4);
    }

.texbox3 {
    cursor: pointer;
    }

.texbox3 {
    transition: .3s;
    }  

.texbox3:hover {
    transform: scale(1.2);
    }

.imgb{
border-radius: 50%;
overflow: hidden;
height: 280px;
width: 280px;
padding: 0;
margin-right: auto;
margin-top: 20px;
}

.lice {
align-items: center;
alignment-baseline: central;
align-content: center;
padding: 30px;
background-color: black;
box-sizing: auto;
}

.alice {
background-color: black;
}

.gallery {
width: 25em;
margin: 2em auto;
}

.gallery-item {
height: auto;
width: 48.618784527%;
float: left;
margin-bottom: 2em;
position: relative;
}

.gallery-item:first-child {
margin-right: 2.762430939%;
}

.gallery-item:hover .img-title {}

.img-title {
position: absolute;
top: 0;
margin: 0;
height: 100%;
width: 210%;
text-align: center;
display: none;
background-color: rgba(0, 0, 0, 0.7);
}

.img-title h5 {
font: sans-serif;
font-size: xx-large;
position: absolute;
color: #fff;
top: 33%;
width: 100%;
text-align: center;
}
footer li {
list-style: none;
}
footer .container {
background-color: #155eca;
}
h1 {
    font: fantasy;
    font-size: 120px;
}
.box1 li {
list-style: none;
}
.lini p {
margin-right: 10px;
}
.lini a:hover {
background-color: transparent;

}
footer a:hover {
background-color: transparent;
}

nav.navbar.navbar-expand-lg.container-fluid.fixed-top {
padding: 0;
}

.altura 
{
height: 80px;
line-height: 60px;
}
.linha {
background-color: rgba(0, 0, 0, 0.6);
}
.dropdown-menu a:hover {
background-color: #155eca;
color: white;
}.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
}
.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
}

body {
        background-image: url(fondo.jpg);
}
.navbar a:link, a:visited {
            
            text-align: center;
            text-decoration: none;
            color: #000;

        }


        .navbar    a:hover, a:active {
            color: #155eca;
            background-color: ~white;
            transition: .5s;
        }

.slider {
    margin-top: 55px;

}
.buttonli {

    border: none;
    padding: 20px 70px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    }
        
    .buttonli::before {
        background-color: #155eca;
        padding: 20px 60px;
        border-radius: 30px;
        content: "Subscribe";
        position: absolute;
        color: white;
        top:  50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        transition: .2s ease;
        opacity: 1;
    }

    .buttonli::after {
        content: "Join us!";
        position: absolute;
        color: black;
        top:  50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        transition: .2s ease;
        text-transform: uppercase;
        opacity: 0;
    }

    .buttonli:hover::before {
        transition: .5s;

        opacity: 0;
        
    }

    .buttonli:hover::after {
        transition: .5s;
        top:  -50xp;
        opacity: 1;
    }

.itemsearch {
    list-style: none;
    padding-right: 10px;
}

.box1 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox1 {
        overflow:hidden;
        }

    .imgbox1 img {
        transition: .3s;
    }

    .imgbox1:hover img {
        transform:scale(1.4);
        }

    .texbox1 {
        cursor: pointer;
        }
    
    .texbox1 {
        transition: .3s;
        }  

    .texbox1:hover {
        transform: scale(1.2);   
    }


.imgb{
    border-radius: 50%;
    overflow: hidden;
    height: 280px;
    width: 280px;
    padding: 0;
    margin-right: auto;
    margin-top: 20px;
}
    
.lice {
    align-items: center;
    alignment-baseline: central;
    align-content: center;
    padding: 30px;
    background-color: black;
    box-sizing: auto;
}

.alice {
    background-color: black;
}


.gallery {
  width: 25em;
  margin: 2em auto;
}

.gallery-item {
  height: auto;
  width: 48.618784527%;
  float: left;
  margin-bottom: 2em;
  position: relative;
}

.gallery-item:first-child {
  margin-right: 2.762430939%;
}

.gallery-item:hover .img-title {}

.img-title {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 210%;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-title h5 {
  font: sans-serif;
  font-size: xx-large;
  position: absolute;
  color: #fff;
  top: 33%;
  width: 100%;
  text-align: center;
}
h1 {
        font: fantasy;
        font-size: 120px;
    }
footer li {
    list-style: none;
}
.tex {
    font: sans-serif;

}
.img-title1 {
  position: absolute;
  top: 0;
  margin-left: 190%;
  height: 130%;
  width: 230%;
  text-align: center;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.img-title1 h5 {
  font: sans-serif;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  color: #155eca;
  text-shadow: black;
  top: 33%;
  width: 100%;
  text-align: center;
}
.gallery {
  width: 25em;
  margin: 2em auto;
}

.gallery-item1 {
  height: auto;
  width: 25.618784527%;
  float: left;
  margin-bottom: 2em;
  position: relative;
}

.gallery-item1:first-child {
  margin-right: 2.762430939%;
}

.gallery-item1:hover .img-title1 {}

footer li {
    list-style: none;
}
footer .container {
    background-color: #155eca;
}


footer a:hover {
    background-color: transparent;
}

nav.navbar.navbar-expand-lg.container-fluid.fixed-top {
    padding: 0;
}


.altura 
{
    height: 80px;
    line-height: 60px;
}
.dropdown-menu a:hover {
    background-color: #155eca;
    color: white;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
}

body {
        background-image: url(fondo.jpg);
}
.navbar a:link, a:visited {
            
            text-align: center;
            text-decoration: none;
            color: #000;

        }


        .navbar    a:hover, a:active {
            color: #155eca;
            background-color: white;
            transition: .5s;
        }

.slider {
    margin-top: 55px;

}
.buttonli {

    border: none;
    padding: 20px 70px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    }
        
    .buttonli::before {
        background-color: #155eca;
        padding: 20px 60px;
        border-radius: 30px;
        content: "Subscribe";
        position: absolute;
        color: white;
        top:  50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        transition: .2s ease;
        opacity: 1;
    }

    .buttonli::after {
        content: "Join us!";
        position: absolute;
        color: black;
        top:  50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        transition: .2s ease;
        text-transform: uppercase;
        opacity: 0;
    }

    .buttonli:hover::before {
        transition: .5s;

        opacity: 0;
        
    }

    .buttonli:hover::after {
        transition: .5s;
        top:  -50xp;
        opacity: 1;
    }

.itemsearch {
    list-style: none;
    padding-right: 10px;
}

.box1 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox1 {
        overflow:hidden;
        }

    .imgbox1 img {
        transition: .3s;
    }

    .imgbox1:hover img {
        transform:scale(1.4);
        }

    .texbox1 {
        cursor: pointer;
        }
    
    .texbox1 {
        transition: .3s;
        }  

    .texbox1:hover {
        transform: scale(1.2);   
    }

.box2 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox2 {
        overflow:hidden;
        }

    .imgbox2 img {
        transition: .3s;
    }

    .imgbox2:hover img {
        transform:scale(1.4);
        }

    .texbox2 {
        cursor: pointer;
        }
    
    .texbox2 {
        transition: .3s;
        }  

    .texbox2:hover {
        transform: scale(1.2);
        }

.box3 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox3 {
        overflow:hidden;
        }

    .imgbox3 img {
        transition: .3s;
    }

    .imgbox3:hover img {
        transform:scale(1.4);
        }

    .texbox3 {
        cursor: pointer;
        }
    
    .texbox3 {
        transition: .3s;
        }  

    .texbox3:hover {
        transform: scale(1.2);
        }

.imgb{
    border-radius: 50%;
    overflow: hidden;
    height: 280px;
    width: 280px;
    padding: 0;
    margin-right: auto;
    margin-top: 20px;
}
    
.lice {
    align-items: center;
    alignment-baseline: central;
    align-content: center;
    padding: 30px;
    background-color: black;
    box-sizing: auto;
}

.alice {
    background-color: black;
}

.gallery {
  width: 25em;
  margin: 2em auto;
}

.gallery-item {
  height: auto;
  width: 48.618784527%;
  float: left;
  margin-bottom: 2em;
  position: relative;
}

.gallery-item:first-child {
  margin-right: 2.762430939%;
}

.gallery-item:hover .img-title {}

.img-title {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 210%;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-title h5 {
  font: sans-serif;
  font-size: xx-large;
  position: absolute;
  color: #fff;
  top: 33%;
  width: 100%;
  text-align: center;
}
footer li {
    list-style: none;

}
h1 {
        font: fantasy;
        font-size: 120px;
    }
.lini p {
    margin-right: 10px;
}
.lini a:hover {
    background-color: transparent;
    }
.yo {
    width: 50%;
}

footer li {
    list-style: none;
}
footer .container {
    background-color: #155eca;
}


footer a:hover {
    background-color: transparent;
}

nav.navbar.navbar-expand-lg.container-fluid.fixed-top {
    padding: 0;
}


.altura 
{
    height: 80px;
    line-height: 60px;
}
.dropdown-menu a:hover {
    background-color: #155eca;
    color: white;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
}

body {
        background-image: url(fondo.jpg);
}
.navbar a:link, a:visited {
            
            text-align: center;
            text-decoration: none;
            color: #000;

        }


       .navbar     a:hover, a:active {
            color: #155eca;
            background-color: white;
            transition: .5s;
        }

.slider {
    margin-top: 55px;

}
.buttonli {

    border: none;
    padding: 20px 70px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    }
        
    .buttonli::before {
        background-color: #155eca;
        padding: 20px 60px;
        border-radius: 30px;
        content: "Subscribe";
        position: absolute;
        color: white;
        top:  50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
        transition: .2s ease;
        opacity: 1;
    }

    .buttonli::after {
        content: "Join us!";
        position: absolute;
        color: black;
        top:  50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        transition: .2s ease;
        text-transform: uppercase;
        opacity: 0;
    }

    .buttonli:hover::before {
        transition: .5s;

        opacity: 0;
        
    }

    .buttonli:hover::after {
        transition: .5s;
        top:  -50xp;
        opacity: 1;
    }

.itemsearch {
    list-style: none;
    padding-right: 10px;
}

.box1 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox1 {
        overflow:hidden;
        }

    .imgbox1 img {
        transition: .3s;
    }

    .imgbox1:hover img {
        transform:scale(1.4);
        }

    .texbox1 {
        cursor: pointer;
        }
    
    .texbox1 {
        transition: .3s;
        }  

    .texbox1:hover {
        transform: scale(1.2);   
    }

.box2 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox2 {
        overflow:hidden;
        }

    .imgbox2 img {
        transition: .3s;
    }

    .imgbox2:hover img {
        transform:scale(1.4);
        }

    .texbox2 {
        cursor: pointer;
        }
    
    .texbox2 {
        transition: .3s;
        }  

    .texbox2:hover {
        transform: scale(1.2);
        }

.box3 {
    padding: 20px;
    align-items: center;
    background: #fff;
    border-style: none;
    }

    .imgbox3 {
        overflow:hidden;
        }

    .imgbox3 img {
        transition: .3s;
    }

    .imgbox3:hover img {
        transform:scale(1.4);
        }

    .texbox3 {
        cursor: pointer;
        }
    
    .texbox3 {
        transition: .3s;
        }  

    .texbox3:hover {
        transform: scale(1.2);
        }

.imgb{
    border-radius: 50%;
    overflow: hidden;
    height: 280px;
    width: 280px;
    padding: 0;
    margin-right: auto;
    margin-top: 20px;
}
    
.lice {
    align-items: center;
    alignment-baseline: central;
    align-content: center;
    padding: 30px;
    background-color: black;
    box-sizing: auto;
}

.alice {
    background-color: black;
}

.gallery {
  width: 25em;
  margin: 2em auto;
}

.gallery-item {
  height: auto;
  width: 48.618784527%;
  float: left;
  margin-bottom: 2em;
  position: relative;
}

.gallery-item:first-child {
  margin-right: 2.762430939%;
}

.gallery-item:hover .img-title {}

.img-title {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 210%;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-title h5 {
  font: sans-serif;
  font-size: xx-large;
  position: absolute;
  color: #fff;
  top: 33%;
  width: 100%;
  text-align: center;
}
footer li {
    list-style: none;
}
footer li {
    list-style: none;
}
footer .container {
    background-color: #155eca;
}

}

footer a:hover {
    background-color: transparent;
}

nav.navbar.navbar-expand-lg.container-fluid.fixed-top {
    padding: 0;
}


.altura 
{
    height: 80px;
    line-height: 60px;
}
div .banner {
    padding-top: 50px;
}
.dropdown-menu a:hover {
    background-color: #155eca;
    color: white;
}